{% extends 'base.html' %}

{% block title %} Aplicação de clientes {% endblock %}

{% block main %}
    <div class="row">
        <div class="col-8">
            <h3>Listagem de clientes</h3>
            <ul class="list-group">
            {% for person in persons %}
                <li class="list-group-item">
                    <a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a>
                    <a href="{% url 'persons_delete' person.id %}" class="btn btn-danger trash-item">
                        <i class="fas fa-trash"></i>
                    </a>
                </li>
            {% endfor %}
            </ul>
            <br>
            <a href="{% url 'person_new'%}" class="btn btn-primary">Novo cliente</a>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <p>Olá, {{ user.username }}!<a href="{% url 'logout' %}"><span class="badge badge-dark">Sair</span></a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvido com <i class="fas fa-heart"></i> por <a href="https://github.com/RebeccaMM" class="alert-link">Rebecca Messias</a></span>
        </div>
    </footer>
{% endblock %}